@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  padding: 20px;
  border-radius: 5px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

.poppins-title{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  font-style: italic;
}
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: medium;
  font-style: italic;

}
.font-poppins{
  font-family: "Poppins", sans-serif;
}
